:root {
    --blue: #5833a6;
    --lightblue: #8679d9;
    --gray: #2e3d59;
    --darkgray: #141a26;
    --black: #0d0d0d;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    color: var(--white);
    margin-top: 10%;
    padding: 30px;
}

header {
    background: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 var(--white);
}

header img {
    height: 30px;
    margin-left: 3%;
}

.menu {
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {
    color: var(--white);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: var(--gray);
    color: var(--white);
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background: var(--blue);
    display: none;
    text-decoration: none;
    list-style: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu ul li ul {
    display: block;
}

.company-info {
    text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 80px);
    margin: 5vh;

}

.grid-row-1 {
	grid-row: 4;
}

.item {
	margin: 5px;
	background: var(--lightblue);
	text-align: center;
	font-size: 1.2em;
    border-radius: 5px;
}